<section class="sign-in padding-md">
    <div class="container">
        <div class="col-md-8 col-md-push-2">
            <h1 class="text-center">Sign in</h1>
            <form role="form" name="loginForm" id="loginForm" ng-submit="login(loginForm.$valid)" class="form-horizontal" novalidate>
                <div class="form-group has-feedback">
                    <label for="userName">邮箱</label>
                    <div>
                        <input ng-bind="form.userName" class="form-control input-lg" id="userName" name="userName" ng-model="form.userName" type="email" required placeholder="E-MAIL"/>
                    </div>
                </div>
                <div class="form-group  has-feedback">
                    <label for="password">密码</label>
                    <input ng-bind="form.password" class="form-control input-lg" id="password" name="password" type="password" ng-model="form.password" required placeholder="PASSWORD"/>
                </div>
                <div class="form-group has-feedback mg-b-5  ">
                    <label class="checkbox-inline">
                        <input class="pull-left" type="checkbox" ng-model="form.isRemember"><div class="pull-left"> 记住密码</div>
                    </label>
                    <div class="ifo">
                        <div ng-show="!loginForm.$valid" class="pull-right">
                            <span class="checkinfo" ng-show="loginForm.userName.$dirty && loginForm.userName.$error.required"><span>请输入邮箱</span></span>
                            <span class="checkinfo" ng-show="loginForm.userName.$dirty && loginForm.userName.$error.email"><span>邮箱格式不正确</span></span>
                            <span class="checkinfo" ng-show="loginForm.password.$dirty && loginForm.password.$error.required"><span>请输入密码</span></span>
                        </div>
                        <span class="checkinfo pull-right" ng-show="loginInfo.loginerror"><span>{{loginInfo.loginerroinfo}}</span></span>
                    </div>
                </div>
            </form>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-disabled="loginForm.$invalid" ng-click="login(loginForm.$valid)" >Sign in</button>
                <a class="btn btn-link" href="/forgot">？Forgot</a>
            </div>
        </div>
    </div>
</section>