<div class="container">
    <div class="col-md-8 col-md-offset-2">
        <form role="form" name="registerForm" ng-submit="register(registerForm.$valid)" class="form-horizontal" autocomplete="off" novalidate>
            <div class="form-group  has-feedback col-md-8">
                <div class="input-group form-item-full">
                    <span class="input-group-addon form-item-label">邮箱</span>
                    <input class="form-control" id="userName" name="userName" ng-model="user.userName" type="email" required />
                </div>
            </div>
            <div class="col-md-4">
                <span class="glyphicon glyphicon-exclamation-sign checkinfo" ng-show="registerForm.userName.$dirty && registerForm.userName.$error.required"><span>邮箱呢?</span></span>
                <span class="glyphicon glyphicon-exclamation-sign checkinfo" ng-show="registerForm.userName.$dirty && registerForm.userName.$error.email"><span>好神奇的邮箱格式,不是地球的吧</span></span>
                <span class="glyphicon glyphicon-exclamation-sign checkinfo" ng-show="registerForm.userName.$dirty && registerForm.userName.$error.unique"><span>邮箱已存在,已存在,已存在....</span></span>
            </div>
            <div class="form-group  has-feedback col-md-8">
                <div class="input-group form-item-full">
                    <span class="input-group-addon form-item-label">昵称</span>
                    <input class="form-control" id="nickName" name="nickName" ng-model="user.nickName" type="text" required/>
                </div>
            </div>
            <div class="col-md-4">
                <span class="glyphicon glyphicon-exclamation-sign checkinfo" ng-show="registerForm.nickName.$dirty && registerForm.nickName.$error.required"><span>是时候亮出小名了</span></span>
                <span class="glyphicon glyphicon-exclamation-sign checkinfo" ng-show="registerForm.nickName.$dirty && registerForm.nickName.$error.unique"><span>小名已存在,已存在,已存在....</span></span>
            </div>
            <div class="form-group  has-feedback col-md-8">
                <div class="input-group form-item-full">
                    <span class="input-group-addon form-item-label">密码</span>
                    <input class="form-control" id="password" name="password" ng-model="user.password" ng-minlength="5" ng-blur="checkMatch()" type="password" required />
                </div>
            </div>
            <div class="col-md-4">
                <span class="glyphicon glyphicon-exclamation-sign checkinfo" ng-show="registerForm.password.$dirty && registerForm.password.$error.required"><span>密码都不要怎么出来混</span></span>
                <span class="glyphicon glyphicon-exclamation-sign checkinfo" ng-show="registerForm.password.$dirty && registerForm.password.$error.minlength"><span>太短了,竟然小于5位数</span></span>
            </div>
            <div class="form-group  has-feedback col-md-8">
                <div class="input-group form-item-full">
                    <span class="input-group-addon form-item-label">密码确认</span>
                    <input class="form-control" id="passwordConfirm" name="passwordConfirm" ng-model="user.passwordConfirm" ng-minlength="5" ng-blur="checkMatch()" type="password" required/>
                </div>
            </div>
            <div class="col-md-4">
                <span class="glyphicon glyphicon-exclamation-sign checkinfo" ng-show="registerForm.passwordConfirm.$dirty && registerForm.passwordConfirm.$error.required"><span>手抖输错了就不好了,快确认下</span></span>
                <span class="glyphicon glyphicon-exclamation-sign checkinfo" ng-show="registerForm.passwordConfirm.$dirty && registerForm.passwordConfirm.$error.minlength"><span>太短了,竟然小于5位数</span></span>
                <span class="glyphicon glyphicon-exclamation-sign checkinfo" ng-show="registerForm.passwordConfirm.$dirty && registerForm.passwordConfirm.$error.match"><span>这记性,两次密码都不一样</span></span>
            </div>
            <div class="form-group  has-feedback col-md-8">
                <div class="input-group form-item-full">
                    <span class="input-group-addon form-item-label">QQ</span>
                    <input class="form-control" id="qq" name="qq" ng-model="user.qq" type="text" ng-pattern="/^\d{5,10}$/">
                </div>
            </div>
            <div class="col-md-4">
                <span class="glyphicon glyphicon-exclamation-sign checkinfo" ng-show="registerForm.qq.$dirty && registerForm.qq.$error.pattern"><span>这QQ号不是企鹅出的吧</span></span>
            </div>
            <!--<div class="form-group  has-feedback col-md-8">
                <div class="input-group form-item-full">
                    <span class="input-group-addon form-item-label">验证码</span>
                    <input class="form-control" type="text" id="kaptcha" name="kaptcha" ng-model="form.kaptcha" minlength="4" maxlength="4" required/>
                </div>
                <img ng-src="/ajax/base/captcha-image" ng-click = "changeCaptcha($event)" title="看不清，点击换一张" height="32" />
            </div>-->
            <div class="col-md-4">
                <span class="glyphicon glyphicon-exclamation-sign checkinfo" ng-show="registerForm.kaptcha.$dirty && registerForm.kaptcha.$error.required"><span>没验证码我怎么可能让你过</span></span>
                <span class="glyphicon glyphicon-exclamation-sign checkinfo" ng-show="registerForm.kaptcha.$dirty && registerForm.kaptcha.$error.invalid"><span>不对,不对...</span></span>
            </div>
            <!--<div class="form-group  has-feedback col-md-12">-->
                <!--<input type="checkbox" value="1" />&nbsp;同意XXXX协议-->
            <!--</div>-->
            <div class="form-group text-center col-md-12">
                <input class="btn btn-primary btn-sm" type="submit" value="注册" />
            </div>
        </form>
    </div>
</div>