<section class="sign-up padding-md">
    <div class="container">
        <div class="col-md-8 col-md-offset-2">
            <h1 class="text-center">Sign up</h1>
            <form role="form" name="registerForm" ng-submit="register(registerForm.$valid)" class="form-horizontal" autocomplete="off" novalidate>
                <div class="form-group form-group-lg has-feedback">
                    <label for="userName">邮箱</label>
                    <input class="form-control" id="userName" name="userName" ng-model="user.userName" type="email" required />
                    <p>
                        <span class="checkinfo" ng-show="registerForm.userName.$dirty && registerForm.userName.$error.required"><span>邮箱呢?</span></span>
                        <span class="checkinfo" ng-show="registerForm.userName.$dirty && registerForm.userName.$error.email"><span>好神奇的邮箱格式,不是地球的吧</span></span>
                        <span class="checkinfo" ng-show="registerForm.userName.$dirty && registerForm.userName.$error.unique"><span>邮箱已存在,已存在,已存在....</span></span>
                    </p>
                </div>


                <div class="form-group form-group-lg has-feedback">
                    <label for="nickName">昵称</label>
                    <input class="form-control" id="nickName" name="nickName" ng-model="user.nickName" type="text" required/>
                    <p>
                        <span class="checkinfo" ng-show="registerForm.nickName.$dirty && registerForm.nickName.$error.required"><span>是时候亮出小名了</span></span>
                        <span class="checkinfo" ng-show="registerForm.nickName.$dirty && registerForm.nickName.$error.unique"><span>小名已存在,已存在,已存在....</span></span>
                    </p>
                </div>
                <div class="form-group form-group-lg has-feedback">
                    <label for="password">密码</label>
                    <input class="form-control" id="password" name="password" ng-model="user.password" ng-minlength="5" ng-blur="checkMatch()" type="password" required />
                    <p>
                        <span class="checkinfo" ng-show="registerForm.password.$dirty && registerForm.password.$error.required"><span>密码都不要怎么出来混</span></span>
                        <span class="checkinfo" ng-show="registerForm.password.$dirty && registerForm.password.$error.minlength"><span>太短了,竟然小于5位数</span></span>
                    </p>
                </div>
                <div class="form-group form-group-lg has-feedback">
                    <label for="passwordConfirm">密码确认</label>
                    <input class="form-control" id="passwordConfirm" name="passwordConfirm" ng-model="user.passwordConfirm" ng-minlength="5" ng-blur="checkMatch()" type="password" required/>
                    <p>
                        <span class="checkinfo" ng-show="registerForm.passwordConfirm.$dirty && registerForm.passwordConfirm.$error.required"><span>手抖输错了就不好了,快确认下</span></span>
                        <span class="checkinfo" ng-show="registerForm.passwordConfirm.$dirty && registerForm.passwordConfirm.$error.minlength"><span>太短了,竟然小于5位数</span></span>
                        <span class="checkinfo" ng-show="registerForm.passwordConfirm.$dirty && registerForm.passwordConfirm.$error.match"><span>这记性,两次密码都不一样</span></span>
                    </p>
                </div>
                <div class="form-group form-group-lg has-feedback">
                    <label for="qq">QQ</label>
                    <input class="form-control" id="qq" name="qq" ng-model="user.qq" type="text" ng-pattern="/^\d{5,10}$/">
                    <p>
                        <span class="checkinfo" ng-show="registerForm.qq.$dirty && registerForm.qq.$error.pattern"><span>这QQ号不是企鹅出的吧</span></span>
                    </p>
                </div>
                <div class="modal-footer">
                    <input class="btn btn-primary btn-sm" ng-disabled="registerForm.$invalid" type="submit" value="Sign up" />
                    <a class="btn btn-link" href="/login">Sign in</a>
                </div>
            </form>
        </div>
    </div>
</section>